@page "/LearnBlazor/DemoProduct";

<div class="row">
    <h3 class="text-bg-primary">Demo Product</h3>
    <p>Favorite Count: @FavoriteCount</p>
    @foreach(var product in listProducts)
    {
        <_IndividualProductComponent Product="product" OnFavoriteUpdated="FavoriteCountChange"
            OnSelectedProductChange="UpdateSelectedProduct"></_IndividualProductComponent>
    }
</div>
<div class="row">
    <h4>@(string.IsNullOrWhiteSpace(SelectedProduct)? string.Empty: SelectedProduct)</h4>
</div>

@code {
    private List<Product> listProducts = new();
    public int FavoriteCount { get; set; } = 0;
    public string SelectedProduct { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        listProducts.Add(new()
        {
            IdProduct = 2,
            Name = "Apple",
            IsActive = false,
            Price = 4,
            ShowProperties = true,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
        listProducts.Add(new()
        {
            IdProduct = 3,
            Name = "Pear",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
        listProducts.Add(new()
        {
            IdProduct = 4,
            Name = "Pineapple",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
    }

    protected void UpdateSelectedProduct(string productName) => SelectedProduct = productName;

    protected void FavoriteCountChange(bool isSelected) => FavoriteCount += isSelected ? 1 : -1;
}
